.btn-secondary{
    background-color: #064f86;
    margin: 0 0 10px 42px;
    width: 100%;
}

.btn-secondary:hover{
    background-color: #2f4720;
}

.donatebutton1{
    background-color: #064f86;
    margin: 35px 0 10px 42px;
    width: 100%;
}

.donateimg{
    border: solid 5px #2f4720;
    width: 100%;
}

.donateimg2:hover{
    opacity: 0.8;
}

.donateimg2{
    border: solid 5px #2f4720;
    margin: 0 0 0 42px;
    width: 100%;
}

.doncircle1{
    border-radius: 100%;
    background-color: #2f4720;
    background-size: 145%;
    color: white;
    font-family: 'Coda', cursive;
    font-size: 38px;
    line-height: 0;
    margin: 20px 20px 20px 20px;
    text-align: center;
    display: block;
    height: 0;
    width: 0;
    padding: 8% 5%;
}

.doncircle1:hover{
    opacity: 0.8;
}

.doncircletext{
    color: white;
    text-align: center;
}

.doncircletext:hover{
    color: black;
    text-decoration: underline
}

.donname{
    font-size: 20px;
    margin: 0 0 0 0;
}

.hrbar{
    background-color: black;
    height: 330px;
    margin: 20px 0 0 0;
    padding: 0 0;
    width: 1px;
}

.moneydif{
    font-size: 20px;
    margin: 0 0 0 0;
}

.moneydon{
    font-size: 52px;
    height: 60px;
    margin: 20px 0 0 0;
}

.numberdon{
    font-size: 52px;
    margin: 124px 0 0 0;
    height: 52px;
}


.row{
    margin-left: 0;
}