/*Mobile*/

/* Small devices (landscape phones, 360px and up)--------------------------------------------------*/
@media (min-width: 360px) and (max-width: 575px){

    .card-text{
        font-size: 14px;
    }

    .circletext{
        font-size: 22px;
    }

    .fa2{
        margin-right: 0 !important;
    }

    .infotitle{
        font-size: 16px;
        text-decoration: underline black;
    }

    .mainlogo{
        margin: 0!important;
        width: 159px !important;
    }

    .parinfo{
        font-size: 14px;
    }

    .text-dark{
        font-size: 22px;
    }

    .titlemain{
        font-size: 13px;
    }

    .tptext{
        font-size: 20px;
    }

    .tx3{
        color: black !important;
    }

}

/* Small devices (landscape phones, 576px and up)--------------------------------------------------*/
@media (min-width: 443px) and (max-width: 575px){

    .fa2 {
        margin-right: 0 !important;
    }

    .infotitle{
        font-size: 18px;
        text-decoration: underline black;
    }

    .mainlogo{
        width: 225px !important;
    }

    .parinfo{
        font-size: 14px;
    }

    .titlemain{
        font-size: 16px;
        margin-left: 6px;
    }

    .tx3 {
        color: black !important;
    }

}

/* Small devices (landscape phones, 576px and up)--------------------------------------------------*/
@media (min-width: 576px) and (max-width: 768px){

    .asociallink{
        margin: 0 0 0 0 !important;
    }

    .btn-outline-success{
        background-color: #2f4720!important;
    }

    .circletext{
        font-size: 12px;
    }

    .dropdown-item{
        padding-left: 5px !important;
    }

    .dropdown-menu{
        background-color: #064f86 !important;
    }

    .hrfooter{
        display: none;
    }

    .footernav{
        display: none;
    }

    .footerlogo{
        margin: 17px 0 0 10px !important;
        width: 70% !important;
    }

    .form-control{
        margin-right: 12px !important;
        width: 70% !important;
    }



    .mainlogo{
        margin: 6px 0 6px 0 !important;
        padding: 0 !important;
    }

    .sociali{
        margin: 25px 0 0 0 !important;
    }

    .titlemain{
        font-size: 22px !important;
    }

    .textft{
        margin: 44px 44px 0 -44px !important;
    }

}

/* Ipad Pro devices (landscape, 768px and up)--------------------------------------------------*/
@media (min-width: 768px) and (max-width: 1024px){

    .card-text{
        font-size: 14px;
    }

    .circletext{
        font-size: 22px;
    }

    .infotitle{
        font-size: 26px;
    }

    .parinfo{
        font-size: 14px;
    }

    .titlemain{
        font-size: 28px !important;

    }

    .text-dark{
        font-size: 25px;
    }

    .tptext{
        font-size: 25px;
    }

}


/* Ipad Pro devices (landscape, 1024px and up)--------------------------------------------------*/
@media (min-width: 1024px) and (max-width: 768px){

    .buttonnav{
        display: none !important;
    }


    .circletext{
        font-size: 30px;
    }

    .footerlogo{
        margin: 2px 0 0 0 !important;
    }

    .logonav{
        width: 330px !important;
    }

    .mainlogo{
        margin: 0 !important;
        width: 230px !important;
    }

    .textft{
        font-size: 13px !important;
        padding: 7px 0 0 0 !important;
    }

    .titlemain{
        font-size: 32px;
    }


}

/* Ipad Pro devices (landscape, 1920px and up)--------------------------------------------------*/
@media (min-width: 1024px) and (max-width: 1920px){

    .circletext{
        font-size: 34px;
    }
}


/* Nav Bar Section ----------------------------------------------------------------------------*/

.bg-dark{
    background-color: #6a95b6 !important;
    margin: 0 !important;
}

.btn-outline-success{
    border-color: #2f4720 !important;
    color: white !important;
    font-family: 'Coda', cursive;
}

button.buttonnav.btn-outline-success.my-2.my-sm-0:hover{
    background-color: #2f4720;
}

.dropdown-item:hover{
    background-color: white !important;
}

.dropdown-menu{
    background-color: #064f86;
}

.form-control{
    border: 2px solid #2f4720 !important;
    color: black !important;
    font-family: 'Coda', cursive;
    margin-top: 1px;
}

.logonav{
    margin: 0 93px 0 0;
}

.mainlogo{
    margin: 5px 0 5px 20px;
    width: 230px;
}

.nav-link{
    font-family: 'Coda', cursive;
    font-size: 16px !important;
}

/* Main Section ----------------------------------------*/

a.btn-primary:hover{
    background-color: #064f86;
}

a.btn.btn-success{
    margin-top: 10px;
}

a.btn.btn-primary{
    margin-top: 10px;
}

.bannerimage{
    border-radius: 5px;
    height: 100%;
    margin-bottom: 20px;
    width: 100%;
}

.bannermain{
    margin: 0;
}

.blogmain{
    margin-top: 20px;
}

.blognewsmain{
    margin: 0;
}

body{
    background-color: #cddce7;
    font-family: 'Coda', cursive;
}

.circle1{
    border-radius: 100%;
    background-image: url("images/europeslostf.jpg");
    background-size: 145%;
    color: white;
    font-family: 'Coda', cursive;
    font-size: 38px;
    line-height: 0;
    margin: 20px 20px 20px 0;
    text-align: center;
    display: block;
    height: 0;
    width: 100%;
    padding: 11% 0;
}

.circle2{
    border-radius: 100%;
    background-image: url("images/pined-trees-2.jpg");
    background-size: 143%;
    color: white;
    font-family: 'Coda', cursive;
    font-size: 38px;
    line-height: 0;
    margin: 20px 20px 20px 0;
    text-align: center;
    display: block;
    height: 0;
    width: 100%;
    padding: 11% 0;
 }

.circle3{
    border-radius: 100%;
    background-image: url("images/pinefield.jpg");
    background-size: 170%;
    color: white;
    font-family: 'Coda', cursive;
    font-size: 38px;
    line-height: 0;
    margin: 20px 20px 20px 0;
    text-align: center;
    display: block;
    height: 0;
    width: 100%;
    padding: 11% 0;
}

.circle4{
    border-radius: 100%;
    background-image: url("images/naturepine.jpg");
    background-size: 145%;
    color: white;
    font-family: 'Coda', cursive;
    font-size: 38px;
    line-height: 0;
    margin: 20px 0 20px 0;
    text-align: center;
    display: block;
    height: 0;
    width: 100%;
    padding: 11% 0;
}

.circletext{
    color: white;
}

.circle1:hover{
    opacity: 0.8;
}

.circle2:hover{
    opacity: 0.8;
}

.circle3:hover{
    opacity: 0.8;
}

.circle4:hover{
    opacity: 0.8;
}

.container{
    max-width: 1200px;
}

.infomain{
    margin: 0 0 0 0;
}

hr{
    background-color: #2f4720;
}

.jumbotron{
    background-color: #cddce7;
    margin-top: 35px;
    padding: 5px 30px 5px 30px !important;
}

.maintext{
    font-family: 'Coda Caption', sans-serif;
    text-align: center;
}

.morebutton{
    background-color: #2f4720;
    width: 50px;
}

.newslettermain{
    margin-top: 20px;
}

.titlemain{
    font-family: 'Coda Caption', sans-serif;
}

.tptext{
    margin-top: 15px;
}

.socialicons{
    height: 30px;
    margin: 10px 10px 10px 10px;
    width: 30px;
}



/* Footer Section --------------------------------------*/

.albox{
    margin-right: 3px;
}

.asociallink{
    margin: 0 0 0 336px;
}

.bg-info{
    background-color: #064f86 !important;
}

.buttonnav2{
    margin: 22px 35px 0 25px;
}

.dropdown-item{
    color: white;
}

.fa {
    border-radius: 50%;
    height: 36px;
    font-size: 24px;
    padding: 7px 0 0 0;
    text-align: center;
    text-decoration: none;
    width: 36px;
}

.fa1{
    margin-right: 10px !important;
}

.fa2{
    margin-right: 286px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa:hover {
    color: white;
    opacity: 0.7;
    text-decoration: none;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.footerbar{
    background-color: #6a95b6;
    height: 100px;
    max-width: 1918px;
    width: auto;
}

.footerbar2{
    background-color: #064f86;
    height: 30px;
    max-width: 1920px;
    width: auto;
}

.footerlogo{
    margin: 0 0 0 20px;
    width: 200px;
}

.footernav{
    margin-right: -10px;
    padding: 2px 10px 0 0 !important;
}

.ft1{
    margin: 0 0 0 60px;
}

.hrfooter{
    background-color: black;
    height: 70px;
    margin: 15px 0 0 0;
    width: 2px;
}

.mainfooter{

}

.navbar{
    margin: 0 !important;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: black !important;
    border-radius: .25rem;
}

.sociali{
    margin: 25px 0 0 90px;
}

.socialicons1{
    height: 35%;
    margin: 34px 10px 10px 396px;
}

.socialicons2{
    height: 35%;
    margin: 34px 10px 10px 10px;
}

.socialicons3{
    height: 35%;
    margin: 34px 10px 10px 10px;
}

.textft{
    color: white;
    font-family: 'Coda', cursive;
    font-size: 14px;
    margin: 0 0 0 0;
    padding: 6px 0 0 0;
    text-align: center;
}