/* Main Section ---------------------------------------------------------------- */

.bannermain2{
    border-radius: calc(.25rem - 1px);
    width: 100%;
}

.orderbutton{
    color: white;
    background-color: #064f86;
    border-color: black;
}

.orderbutton:hover{
    background-color: #2f4720;
    border-color: black;
    color: white;
}

.col{
    max-width: 31.74% !important;
}

.col-8{
    flex: 0 0 62.666667% !important;
}

.featureimg{
    margin-left: 73px;
    width: 59%;
}

.featuretext{
    color: black;
    margin: 22px 0 15px 0;
    text-align: center;
    text-decoration: underline;
}

.featuresection{
    background-color: white;
    border-color: #064f86;
    border-style: solid;
    border-radius: calc(.25rem - 1px);
    height: 386px;
    margin: 0 0 0 0;
    width: 280px;
}

.feattext{
    margin: 0 0 0 0;
    padding: 15px 0 0 101px;
}

.form-group{
    margin: 0 0 0 0;
    width: 67px;
}

.imgboxes1{
    margin: 15px 0 0 82px;
    width: 50%;
}

.imgboxes2{
    margin: 15px 0 0 82px;
    width: 50%;
}

.imgboxes3{
    margin: 15px 0 0 82px;
    width: 50%;
}

.imgboxes4{
    margin: 15px 0 0 82px;
    width: 50%;
}

.imgboxes5{
    margin: 15px 0 0 82px;
    width: 50%;
}

.imgboxes6{
    margin: 15px 0 0 82px;
    width: 50%;
}

.imgboxes7{
    margin: 15px 0 0 82px;
    width: 50%;
}

.imgboxes8{
    margin: 15px 0 0 82px;
    width: 50%;
}

.imgboxes9{
    margin: 15px 0 0 82px;
    width: 50%;
}

.imagebox{
    padding: 0 15px 0 0;
    /*background-color: grey;*/
    /*border-radius: 5px;*/
    /*height: 380px;*/
    /*margin: 0 30px 10px 0;*/
    /*width: 830px;*/
}

.itemsection1{
     background-color: white;
     border-color: #064f86;
     border-style: solid;
     border-radius: calc(.25rem - 1px);
     color: black;
     height: 300px;
     margin: 15px 10px 0 0;
     width: 300px;
 }

.itemsection2{
    background-color: white;
    border-color: #064f86;
    border-style: solid;
    border-radius: calc(.25rem - 1px);
    color: black;
    height: 300px;
    margin: 15px 10px 0 0;
    width: 300px;
}

.itemsection3{
    background-color: white;
    border-color: #064f86;
    border-style: solid;
    border-radius: calc(.25rem - 1px);
    color: black;
    height: 300px;
    margin: 15px 0 0 0;
    width: 300px;
}

label{
    margin-bottom: 0;
}

.mercrow1{
    margin-top: 0;
}

.orderbutton{
    color: white;
    background-color: #064f86;
    border-color: black;
    height: 38px;
    margin: 25px 0 0 15px;
    padding-top: 7px;
}

.orderbutton:hover{
    background-color: #2f4720;
    border-color: black;
    color: white;
}

.test{
    background-color: #2f4720;
    height: 100px;
    float: left;
    width: 100px;
}

.titlemerch{
    background-color: black;
    border-top-color: #064f86;
    border-bottom-color: #064f86;
    border-style: solid;
    color: white;
    margin-bottom: 15px;
}

/* Footer Section -------------------------------------------------------------- */

.row{
    margin-left: 0;
}